@use '../abstracts/variables' as v;

.tutorial-card {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: v.$background;
    width: 20rem;
    margin: 0 auto;
    border-radius: 2rem;
}

.jumbotron {
    max-width: 20rem;
    margin: 0 auto;
    background-color: v.$background;
    padding: 2rem;
    border-radius: 1rem;
}