@use '../abstracts/variables' as v;

.splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: v.$background;
    height: 100vh;
    width: 100vw;

    z-index: 1000;
    position: fixed;
}

.main-screen {
    position: relative;

}