@use '../abstracts/variables' as v;

.settings {
    position: relative;
    bottom: -35rem;
    left: 0;
    max-width: 18rem;
    margin: 0 auto;
    z-index: 500;
}

.container {
    background-color: v.$background;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
}