@use '../abstracts/variables' as v;

h1, h2, h3, h4 {
    font-family: v.$primary-font;
    color: v.$heading;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}


p {
    font-family: v.$secondary-font;
    color: v.$paragraph;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 30rem;
}

.pink {
    color: v.$button;
}