
/* colors */

$background: #fef6e4;
$heading: #001858;
$paragraph: #172c66;
$button: #f582ae;
$button-text: #ffffff;

$stroke: #001858;
$main: #f3d2c1;
$highlight: #fef6e4;
$secondary: #8bd3dd;
$tertiary: #f582ae;


/* fonts */

$primary-font: 'Sansita', sans-serif;
$secondary-font: 'Open Sans', sans-serif;


/* spacers */
$sp-0-5: .5rem;
$sp-1: 1rem;
$sp-1-5: 1.5rem;
$sp-2: 2rem;
$sp-2-5: 2.5rem;
$sp-3: 3rem;
$sp-3-5: 3.5rem;
$sp-4: 4rem;
$sp-4-5: 4.5rem;
$sp-5: 5rem;


/* padding */

.py-0-5 { padding-top: $sp-0-5; padding-bottom: $sp-0-5; }
.py-1 { padding-top: $sp-1; padding-bottom: $sp-1; }
.py-1-5 { padding-top: $sp-1-5; padding-bottom: $sp-1-5; }
.py-2 { padding-top: $sp-2; padding-bottom: $sp-2; }
.py-2-5 { padding-top: $sp-2-5; padding-bottom: $sp-2-5; }
.py-3 { padding-top: $sp-3; padding-bottom: $sp-3; }
.py-3-5 { padding-top: $sp-3-5; padding-bottom: $sp-3-5; }
.py-4 { padding-top: $sp-4; padding-bottom: $sp-4; }
.py-4-5 { padding-top: $sp-4-5; padding-bottom: $sp-4-5; }
.py-5 { padding-top: $sp-5; padding-bottom: $sp-5; }

.px-0-5 { padding-left: $sp-0-5; padding-right: $sp-0-5; }
.px-1 { padding-left: $sp-1; padding-right: $sp-1; }
.px-1-5 { padding-left: $sp-1-5; padding-right: $sp-1-5; }
.px-2 { padding-left: $sp-2; padding-right: $sp-2; }
.px-2-5 { padding-left: $sp-2-5; padding-right: $sp-2-5; }
.px-3 { padding-left: $sp-3; padding-right: $sp-3; }
.px-3-5 { padding-left: $sp-3-5; padding-right: $sp-3-5; }
.px-4 { padding-left: $sp-4; padding-right: $sp-4; }
.px-4-5 { padding-left: $sp-4-5; padding-right: $sp-4-5; }
.px-5 { padding-left: $sp-5; padding-right: $sp-5; }

.pt-1 { padding-top: $sp-1; }
.pt-1-5 { padding-top: $sp-1-5; }
.pt-2 { padding-top: $sp-2; }
.pt-2-5 { padding-top: $sp-2-5; }
.pt-3 { padding-top: $sp-3; }
.pt-3-5 { padding-top: $sp-3-5; }
.pt-4 { padding-top: $sp-4; }
.pt-4-5 { padding-top: $sp-4-5; }
.pt-5 { padding-top: $sp-5; }

.pb-1 { padding-bottom: $sp-1; }
.pb-1-5 { padding-bottom: $sp-1-5; }
.pb-2 { padding-bottom: $sp-2; }
.pb-2-5 { padding-bottom: $sp-2-5; }
.pb-3 { padding-bottom: $sp-3; }
.pb-3-5 { padding-bottom: $sp-3-5; }
.pb-4 { padding-bottom: $sp-4; }
.pb-4-5 { padding-bottom: $sp-4-5; }
.pb-5 { padding-bottom: $sp-5; }

.pl-1 { padding-left: $sp-1; }
.pl-1-5 { padding-left: $sp-1-5; }
.pl-2 { padding-left: $sp-2; }
.pl-2-5 { padding-left: $sp-2-5; }
.pl-3 { padding-left: $sp-3; }
.pl-3-5 { padding-left: $sp-3-5; }
.pl-4 { padding-left: $sp-4; }
.pl-4-5 { padding-left: $sp-4-5; }
.pl-5 { padding-left: $sp-5; }

.pr-1 { padding-right: $sp-1; }
.pr-1-5 { padding-right: $sp-1-5; }
.pr-2 { padding-right: $sp-2; }
.pr-2-5 { padding-right: $sp-2-5; }
.pr-3 { padding-right: $sp-3; }
.pr-3-5 { padding-right: $sp-3-5; }
.pr-4 { padding-right: $sp-4; }
.pr-4-5 { padding-right: $sp-4-5; }
.pr-5 { padding-right: $sp-5; }


/* margin */

.my-0-5 { margin-top: $sp-0-5; margin-bottom: $sp-0-5; }
.my-1 { margin-top: $sp-1; margin-bottom: $sp-1; }
.my-1-5 { margin-top: $sp-1-5; margin-bottom: $sp-1-5; }
.my-2 { margin-top: $sp-2; margin-bottom: $sp-2; }
.my-2-5 { margin-top: $sp-2-5; margin-bottom: $sp-2-5; }
.my-3 { margin-top: $sp-3; margin-bottom: $sp-3; }
.my-3-5 { margin-top: $sp-3-5; margin-bottom: $sp-3-5; }
.my-4 { margin-top: $sp-4; margin-bottom: $sp-4; }
.my-4-5 { margin-top: $sp-4-5; margin-bottom: $sp-4-5; }
.my-5 { margin-top: $sp-5; margin-bottom: $sp-5; }

.mx-0-5 { margin-left: $sp-0-5; margin-right: $sp-0-5; }
.mx-1 { margin-left: $sp-1; margin-right: $sp-1; }
.mx-1-5 { margin-left: $sp-1-5; margin-right: $sp-1-5; }
.mx-2 { margin-left: $sp-2; margin-right: $sp-2; }
.mx-2-5 { margin-left: $sp-2-5; margin-right: $sp-2-5; }
.mx-3 { margin-left: $sp-3; margin-right: $sp-3; }
.mx-3-5 { margin-left: $sp-3-5; margin-right: $sp-3-5; }
.mx-4 { margin-left: $sp-4; margin-right: $sp-4; }
.mx-4-5 { margin-left: $sp-4-5; margin-right: $sp-4-5; }
.mx-5 { margin-left: $sp-5; margin-right: $sp-5; }

.mt-1 { margin-top: $sp-1; }
.mt-1-5 { margin-top: $sp-1-5; }
.mt-2 { margin-top: $sp-2; }
.mt-2-5 { margin-top: $sp-2-5; }
.mt-3 { margin-top: $sp-3; }
.mt-3-5 { margin-top: $sp-3-5; }
.mt-4 { margin-top: $sp-4; }
.mt-4-5 { margin-top: $sp-4-5; }
.mt-5 { margin-top: $sp-5; }

.mb-1 { margin-bottom: $sp-1; }
.mb-1-5 { margin-bottom: $sp-1-5; }
.mb-2 { margin-bottom: $sp-2; }
.mb-2-5 { margin-bottom: $sp-2-5; }
.mb-3 { margin-bottom: $sp-3; }
.mb-3-5 { margin-bottom: $sp-3-5; }
.mb-4 { margin-bottom: $sp-4; }
.mb-4-5 { margin-bottom: $sp-4-5; }
.mb-5 { margin-bottom: $sp-5; }

.ml-1 { margin-left: $sp-1; }
.ml-1-5 { margin-left: $sp-1-5; }
.ml-2 { margin-left: $sp-2; }
.ml-2-5 { margin-left: $sp-2-5; }
.ml-3 { margin-left: $sp-3; }
.ml-3-5 { margin-left: $sp-3-5; }
.ml-4 { margin-left: $sp-4; }
.ml-4-5 { margin-left: $sp-4-5; }
.ml-5 { margin-left: $sp-5; }

.mr-1 { margin-right: $sp-1; }
.mr-1-5 { margin-right: $sp-1-5; }
.mr-2 { margin-right: $sp-2; }
.mr-2-5 { margin-right: $sp-2-5; }
.mr-3 { margin-right: $sp-3; }
.mr-3-5 { margin-right: $sp-3-5; }
.mr-4 { margin-right: $sp-4; }
.mr-4-5 { margin-right: $sp-4-5; }
.mr-5 { margin-right: $sp-5; }